*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body{
    background: #d9d9d9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container{
    width: 900px;
    height: 420px;
    background: #4c4949;
    border-radius: 15px;
    overflow: hidden;
    display: flex;
    box-shadow: 0 10px 25px rgba(65, 63, 63, 0.4);
}

.izquierda{
    width: 40%;
    height: 100%;
}

.izquierda img{
    width: 80%;
    height: 100%;
    object-fit: cover;
}

.derecha{
    width: 60%;
    padding: 40px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.derecha h1{
    font-size: 45px;
    margin-bottom: 15px;
    color: #37d1a0;
}
p{
    font-size: 14px;
}
.info{
    display: flex;
    gap: 25px;
    margin-bottom: 20px;
    color: rgb(0, 0, 0);
    font-size: 15px;
}

.stars{
    color: #37d1a0;
    font-size: 22px;
    margin-bottom: 20px;
}

.derecha p{
    line-height: 1.8;
    color: #37d1a0;
    margin-bottom: 20px;
}

.derecha a{
    color: #37d1a0;
    text-decoration: none;
    margin-bottom: 25px;
    font-weight: bold;
}

button{
    width: 190px;
    height: 50px;
    background: transparent;
    border: 2px solid #cc4343;
    color: #37d1a0;
    padding: 20px;
    margin: 5px;
}